:root{
    --yellow: #F2C94C;
    --orange: #F2994A;
    --red: #E44D26;
    --accent: #F2C94C!important;
    --button_outline_foreground: #F2C94C!important;
    --button_outline_border: #F2C94C!important;
}

.text-center{
    text-align: center;
}

.yellow-color{
    color: var(--yellow);
}

.yellow-gradient{
    background: linear-gradient(to left, #F2C94C, #F2994A);
}

.search{
    background-image: url("../img/banner.jpg")!important;
}

.write{
    background-image: url("../img/banner2.jpg")!important;
}

@media screen and (min-width: 550px) {
    .search{
        background-image: url("../img/banner-max.jpg")!important;
    }

    .write{
        background-image: url("../img/banner2-max.jpg")!important;
    }
}

.Gallery__slide {
    justify-content: center;
    display: flex;
}

.TabbarItem--selected{
    color: var(--yellow);
}

.grades, .review, .gift, .rating{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.grades{
    background-image: url('../img/grades.jpg');
}

.gift{
    background-image: url('../img/gift.jpg');
}

.review{
    background-image: url('../img/review.jpg');
}

.rating{
    background-image: url('../img/rating.jpg');
}

.circle-progress-wrap{
    margin: auto;
}

.main-rating{
    font-size: 24px;
    font-weight: bolder;
}

#app {
    margin-top: 40px;
}

#progressInput {
    margin: 20px auto;
    width: 30%;
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: #ddd;
}

.circle-progress {
    stroke: var(--yellow);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .3s all ease-in-out;
}

.circle-text {
    font-size: 24px;
    font-weight: bold;
}