@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --yellow: #F2C94C;
    --orange: #F2994A;
    --red: #E44D26;
    --green: #2db810;
    --accent: #F2C94C!important;
    --button_outline_foreground: #F2C94C!important;
    --button_outline_border: #F2C94C!important;
    --tabbar_active_icon: var(--yellow)!important;
}

::selection{
    background: var(--yellow);
    color: #2c2d2e;
    text-shadow: none;
}

.text-center{
    text-align: center;
}

.yellow-color{
    color: var(--yellow);
}

.yellow-gradient{
    background: linear-gradient(to left, #F2C94C, #F2994A);
}

.yellow-gradient-text{
    background: linear-gradient(to left, #F2C94C, #F2994A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--yellow);
}

.search{
    background-image: url("img/banner.jpg")!important;
}

.write{
    background-image: url("img/banner2.jpg")!important;
}

@media screen and (min-width: 550px) {
    .search{
        background-image: url("img/banner-max.jpg")!important;
    }

    .write{
        background-image: url("img/banner2-max.jpg")!important;
    }
}

.Gallery__slide {
    justify-content: center;
    display: flex;
}

.TabbarItem--selected{
    color: var(--yellow);
}

.grades, .review, .gift, .rating{
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.grades{
    background-image: url('img/grades.jpg');
}

.gift{
    background-image: url('img/gift.jpg');
}

.review{
    background-image: url('img/review.jpg');
}

.rating{
    background-image: url('img/rating.jpg');
}

.circle-progress-wrap{
    margin: auto;
}

.main-rating{
    font-size: 24px;
    font-weight: bolder;
}

#app {
    margin-top: 40px;
}

#progressInput {
    margin: 20px auto;
    width: 30%;
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: var(--icon_secondary);
}

.circle-progress {
    stroke: var(--yellow);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .3s all ease-in-out;
}

.circle-text {
    font-size: 24px;
    font-weight: bold;
}

.circle-text-sm {
    font-size: 18px;
    font-weight: 500;
}

.circle-text-xs {
    font-size: 16px;
    font-weight: 500;
}

.upload-photo .Placeholder__in{
    padding: 12px 32px;
}

.hello, .who-are-you{
    font-size: 20vw;
    font-weight: bold;
}

.super{
    font-size: 17vw;
    font-weight: bold;
}

.where-are-you{
    font-size: 11vw;
    font-weight: bold;
}

.description-header{
    font-size: 6vw;
}

.role-choose .Cell__main, .role-choose .Cell__aside{
    padding: 0;
}

@keyframes spin {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0,10px);
    }
}

.animate-up-down{
    animation: ease-in-out spin 4s infinite;
}

.gradeBtn{
    margin-right: 12px;
}

.gradeBtn[disabled]{
    opacity: 1!important;
}
.header-centered .Header__in .Header__content{
    margin: auto;
    padding: 0;
    text-align: center;
}

.Avatar__children{
    overflow: hidden;
}

